body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:350px;
    gap: 15px;
    
    
}

button{
    width: 200px;
    height: 100px;
}

