body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(images/rps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:350px;
    gap: 15px;
    
    
}

button{
    width: 200px;
    height: 100px;
}

#score, #comp, #won{
    font-size: 50px;
}



.fold{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
    background-color:darkgrey;
    padding: 75px;
}


.big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}

#one{
    width: 94px;
    background: url(images/rock.jpg);
    background-repeat: no-repeat;
    background-size: 94px 
}

#two{
    width: 100px;
    background: url(images/paper.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
}

#three{
    width: 100px;
    background: url(images/scissors.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
}